<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".HexServerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HexGenerator">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.service.HexService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="com.protelion.hexservice.ACTION_START" />
                <action android:name="com.protelion.hexservice.ACTION_STOP" />
                <action android:name="com.protelion.hexservice.ACTION_GENERATE" />
                <action android:name="com.protelion.hexservice.ACTION_PAUSE" />
                <action android:name="com.protelion.hexservice.ACTION_UPDATE_INTERVAL" />
                <action android:name="com.protelion.hexservice.ACTION_REQUEST_HISTORY" />
                <action android:name="com.protelion.hexservice.ACTION_GET_STATUS" />
            </intent-filter>
            <property android:name="android.app.PROPERTY_SPECIAL_USE_CATEGORY"
                android:value="Service provides generated hex codes to client applications" />
        </service>
    </application>

</manifest>
